body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todolist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  list-style: none;
  cursor: pointer;
}

ul {
  padding-inline-start: 0 !important;
}